.main{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 24px;
    text-align: start;
}

.boxRanking{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media(min-width: 1024px){
    .title{
        text-align: center;
    }
}