.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px ;
}

.teamsBox {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}

.logo{
    width: auto;
    max-width: 40px;
    max-height: 50px;
    object-fit: contain;
}

.carousel {}

@media(min-width: 375px){
    .logo{
        max-width: 50px;
    }
}